* {
  box-sizing: border-box;
}
html {
  margin: 0 auto;
}
body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 2rem;
  margin-right: auto;
}

.header--project {
  font-size: 1.5rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 50%;
  text-align: center;
  line-break: anywhere;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media screen and (max-width: 769px) {
  .header {
    height: 100px;
  }
  .header--title {
    font-size: 2.5rem;
    margin-right: auto;
  }

  .header--project {
    font-size: 2rem;
    font-weight: 500;
  }

  .form {
    display: grid;
    grid-template: 70px 70px 70px / 1fr;
    gap: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .header--title {
    font-size: 1.5rem;
    margin-right: auto;
  }

  .header--project {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .header--image {
    height: 70%;
    margin-right: 6px;
  }
  .form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  .form--input,
  button {
    padding: 10px;
  }
}
